body {
  color: #2e2f42;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

#name-input {
  width: 360px;
  height: 40px;
  flex-shrink: 0;
  margin-bottom: 16px;
}

#name-input::placeholder {
  padding: 8px 16px;
  color: #2e2f42;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

h1,
#name-output {
  margin: 0;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.33;
}
